/* NotoSansKR 폰트 */
@font-face {
  font-family: "NotoSansKR";
  src: url("../shared/assets/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../shared/assets/fonts/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../shared/assets/fonts/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../shared/assets/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
