@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.react-modal-sheet-drag-indicator {
  @apply bg-grayScaleBlack80 !important;
  width: 38px !important;
  height: 6px !important;
}

.react-modal-sheet-container {
  overflow: hidden !important;
}
.react-modal-sheet-scroller {
  scrollbar-width: thin;
  scrollbar-color: #808794 transparent;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
